* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BACKGROUND */
body {
    background-color: #0d1b3d;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(13, 27, 42, 0.95);
  backdrop-filter: blur(8px);
  z-index: 100;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff4d6d;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff4d6d;
}

.talk-btn {
  padding: 10px 18px;
  border: 1px solid #ff4d6d;
  border-radius: 6px;
  color: #ff4d6d;
  text-decoration: none;
  transition: 0.3s;
}

.talk-btn:hover {
  background: #ff4d6d;
  color: #0d1b2a;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.left .hi {
  font-size: 1.2rem;
  color: #b1c5d9;
}

.left h1 {
  font-size: 3.8rem;
  margin: 10px 0;
}

.left h1 span {
  color: #ff4d6d;
}

.left h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9fbad1;
}

.btn-group {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.cv {
  background: #ff4d6d;
  color: white;
}

.cv:hover {
  background: #e63b59;
}

.contact {
  background: #1b263b;
  color: white;
}

.contact:hover {
  background: #415a77;
}

.social {
  margin-top: 30px;
  display: flex;
  gap: 25px;
}

.social a {
  color: #9fbad1;
  text-decoration: none;
  transition: 0.3s;
}

.social a:hover {
  color: #ff4d6d;
}

.hero-img {
  width: 420px;
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

#contact {
    padding: 100px 20px;
    background: #111;
    color: white;
}

#contact h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    background: #222;
    border: 1px solid #444;
    color: white;
}

.contact-form button {
    margin-top: 10px;
    padding: 12px 24px;
    background: #ff004f;
    border: none;
    color: white;
    cursor: pointer;
}

